
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Roboto:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(234, 29%, 20%);
}

#t-main {
    display: flex;
    flex-direction: row;
    width: min(80%,780px);
    border: 1px solid #cecece;
    background-color: white;
    padding: 1% 1%;
    border-radius: 20px;

}
    .first-card {
        order: 0;
        display: block;
        width: 50%;
        margin: 10% 2%;
        padding: 0 3%;
    }
        h1 {
            display: block;
            width: 100%;
            font: 700 2rem/1 'Roboto';
        }
        .fst-card-desc {
            display: block;
            font: 400 .9rem/1 'Roboto';
            width: 100%;
            padding: 5% 0;
            color: #22273d;
        }

        ul {
            padding: 2px;
            list-style: none;
            padding: 4% 0;
        }
        
        li {
            background: url('../res/icon-list.svg') center left no-repeat;
            display: block;
            width: 100%;
            color: #22273d;
            font: 400 0.7rem/1 'Roboto';
            padding: 2% 0px 2% 30px;
            margin: 5px 0;
        }

        label {
                margin-top: 4%;
                display: block;
                width: 100%;
                font: 700 0.8rem/1 'Roboto';
            }
                span{
                    text-align: right;
                    color: red;
                    visibility: hidden;
                }

            input[type='email'] {
                display: block;
                outline: none;
                width: 100%;
                border: 1px solid #c3c3c3;
                margin-top: 2%;
                padding: 4%;
                border-radius: 5px;
            }
                input[type='email']:hover{
                    border: 1px solid #22273d;
                    cursor: pointer;
                }
            button {
                display: block;
                width: 100%;
                border: 1px solid  hsl(235, 18%, 26%);
                outline: none;
                margin-top: 7%;
                padding: 5%;
                background-color:  hsl(235, 18%, 26%);
                color: white;
                font: 700 0.8rem/1 'Roboto';
                border-radius: 5px;
                cursor: pointer;
            }
            button:hover {
                border: 1px solid #ff5771;
                background: linear-gradient(to right, #ff5771, #ff673e);
                box-shadow: 0 8px 16px rgba(255, 87, 113, 0.5), 0 4px 8px rgba(255, 103, 115, 0.3); 
            }
        
    
    .secund-card {
        order: 1;
        width: 50%;
    }
        .secund-card img {
            display: block;
            width: 100%;
            height: 100%;
        }


.sucess-card {display: none;}

@media( max-width: 700px ) {
    #t-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        border-radius: 0;
    }
     .secund-card {
        order: -1;
        width: 100%;
    }
    .first-card {
        width: 100%;
        margin: 0;
    }
}